* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background: linear-gradient(to right, #d2d7be, #92c71f);
}
.home-container {
  text-align: center;
  padding: 80px;
}

.home-container h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}
.home-container p {
  font-size: 18px;
  color: #e40a0a;
  margin-bottom: 15px;
}

.home-container button {
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 40px;
  background-color: #06f432;
  color: rgb(247, 12, 122);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: linear-gradient(to right, #ff8c00, #ffa500);
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.logo span {
  color: #2e7d32;
}

.search-bar input {
  padding: 6px;
  width: 200px;
}

.search-bar button {
  padding: 6px 10px;
  border: none;
  background: #3803e8;
  color: white;
  cursor: pointer;
}

.nav-links a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

.user-profile {
  display: flex;
  align-items: center;
}

#loginBtn {
  padding: 6px 10px;
  margin-right: 15px;
  border: none;
  cursor: pointer;
}

.cart-icon {
  cursor: pointer;
}

.product-actions {
  text-align: center;
  margin-top: 30px;
}

#proceedToCartBtn {
  padding: 12px 25px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 50px;
  text-align: right;
  background-color: #34d8d6;
  color: rgb(239, 7, 7);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#proceedToCartBtn:hover {
  background-color: #ee40c2;
}
.section {
  padding: 40px;
}

.hidden {
  display: none !important;
}


.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background: rgb(231, 30, 171);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(59, 226, 235, 0.1);
}

.card button {
  margin-top: 10px;
  padding: 6px;
  background: #07e95e;
  color: rgb(239, 15, 38);
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.cart-item {
  background: rgb(240, 68, 183);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.section.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.login-card {
  background: rgb(230, 14, 158);
  padding: 40px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(181, 19, 19, 0.2);
  text-align: center;
}

.login-card h2 {
  margin-bottom: 10px;
  color: #43dfdf;
}

.login-card p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgb(246, 8, 131);
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ec1082;
}

.login-card button {
  width: 100%;
  padding: 10px;
  background: #29f00e;
  color: rgb(247, 17, 17);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}
.checkout-options {
  margin-top: 30px;
  padding: 25px;
  background: rgb(251, 222, 240);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.checkout-options h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.checkout-options select {
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #f53887;
  margin-bottom: 20px;
  font-size: 14px;
  cursor: pointer;
}
.checkout-options button {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px; 
}
#pickupBtn {
  background-color: #2ff453;
  color: rgb(235, 25, 46);
}

#pickupBtn:hover {
  background-color: #e98a15;
}
#deliveryBtn {
  background-color: #54ff39;
  color: rgb(250, 4, 4);
}

#deliveryBtn:hover {
  background-color: #e80505;
}
